<%- include('../partials/header') %>
<form action="/<%= user._id %>/lists/<%= list._id %>" method="POST">
    <select name="bookId">
        <% books.forEach(function(b) { %>
            <option value="<%= b._id %>"><%= b.title %> by <%= b.authorName %></option>
        <% }) %>
    </select>
    <button type="submit">Add to List</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% list.books.forEach(function (book){ %>
                <tr>
                    <td>
                        <%= book.title %>
                    </td>
                    <form action="/<%= user._id %>/lists/<%= list._id %>?_method=PUT" method="POST">
                        <input type="hidden" name="bookId" value="<%= book._id %>">
                        <td>
                            <select name="newListId">
                                <% user.lists.forEach(function(l) { %>
                                    <% if(!(l.toString()===list._id.toString())) { %>
                                        <option value="<%= l._id %>"><%= l.title %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </td>
                        <td>
                            <button type="submit">Change List</button>
                        </td>
                    </form>
                    <td>
                        <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="bookId" value="<%= book._id %>">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
    </table>
</div>
<%- include('../partials/footer') %>