<%- include('../partials/header') %>
<form action="/<%= user._id %>/lists/<%= list._id %>" method="POST">
    <select name="bookId">
        <% books.forEach(function(b) { %>
            <option value="<%= b._id %>"><%= b.title %> by <%= b.authorName %></option>
        <% }) %>
    </select>
    <button type="submit">Add to List</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <% list.books.forEach(function (book){ %>
                <tr>
                    <td>
                            <%= book.title %>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
    </table>
</div>
<%- include('../partials/footer') %>