<%- include('../partials/header') %>
<%- include('../partials/title') %>

<div class="book-container">
    <% books.forEach(function(book) { %>
      <a id="book-link" href="/books/<%= book._id %>">
        <div class="book">
          <img src="<%= book.image %>" alt="Book Cover">
          <div class="book--card-details">
            <h2 class="book-title"><%= book.title %></h2>
            <p><strong>Author:</strong> <%= book.authorName %></p>
            <p><strong>Release Year:</strong> <%= book.releaseYear %></p>
            <p><strong>ISBN:</strong> <%= book.isbn %></p>
          </div>
        </div>
      </a>
    <% }); %>
  </div>

<%- include('../partials/footer') %>