<%- include('../partials/header') %>
<%- include('../partials/title') %>

<form id="bookForm" action="/books" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Author:</label>
    <select name="author">
        <option value="">Select an author</option>
        <% authors.forEach(function(a) { %>
            <option value="<%= a._id %>" default=" "><%= a.firstName %> <%= a.lastName %></option>
        <% }); %>
    </select>
    <label>Release Year:</label>
    <input type="text" name="releaseYear">
    <label>ISBN:</label>
    <input type="text" name="isbn">
    <label>Book Image Link:</label>
    <input type="text" name="image">
    <div class="genreContainer">
        <% genre.forEach(function(g) { %>
            <div class="checkbox">
                <input type="checkbox" name="genre" value="<%= g %>">
                <label>
                    <%= g %>
                </label><br>
            </div>
          <% }); %>
    </div>
    <button type="submit">Add Book</button>
</form>

<%- include('../partials/footer') %>